body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background: black;
  color: white;
}

.artist-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px white;
}

.owned {
  text-decoration: line-through;
}

.album-album {
  color: blueviolet;
}

.album-single {
  color: lightblue;
}

.album-compilation {
  color: olivedrab;
}
